<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>HelloTomcat</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  
  <context-param>
  	<param-name>ctx-1</param-name>
  	<param-value>hello servlet context</param-value>
  </context-param>
  
  <servlet>
  	<servlet-name>direct</servlet-name>
  	<servlet-class>com.tom.servlet.DirectServlet</servlet-class>
  	<load-on-startup>0</load-on-startup>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>direct</servlet-name>
  	<url-pattern>/direct</url-pattern>
  </servlet-mapping>
  
  <!-- all other servlets will be registered using annotations -->
  
</web-app>