#rdTable{
	border-width: 3px;
	border-color: gray;
	margin: auto;
	border-style: solid;
	width: 80%;
}

#rdTable th {
	border-width: 1px;
	margin: auto;
	font-size: 15;
	border-style: solid;
	
}

#rdTable td {
	border-width: 1px;
	margin:auto;
	font-size: 15px;
	border-style: solid;
}

#div1{
	background-color: red;
}

#div2{
	background-color: blue;
}

#div3{
	background-color: green
}